@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root {
    --veryDarkDesaturatedBlue: #1d1e35;
    --softRed: #f47c57;
    --softViolet: #af67e9;
    --softBlue: #6565e7;
    --veryDarkGrayishBlue: #4a4b5e;
    --darkGrayishBlue: #787887;
    --lightGrayishBlue: #e7e7e9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(180deg, var(--softViolet), var(--softBlue));
    font-family: 'Kumbh Sans', sans-serif;
    background-repeat: no-repeat;
}

main {
    margin: 0 auto;
    max-width: 360px;
    padding: 180px 0;
}

.wrapper {
    background-color: white;
    border-radius: 20px;
    padding: 40px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image {
    background: url('../images/illustration-woman-online-mobile.svg') no-repeat center;
    height: 200px;
    margin-top: -160px;
}

.image2 {    
    background: url('../images/bg-pattern-mobile.svg') no-repeat center;
    height: 150px;
    margin-top: -100px;
}

section h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px; 
}

.wrapper p {
    color: var(--darkGrayishBlue);
    padding: 5px;
}

.box-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--veryDarkGrayishBlue);
}

button {
    background-color: white;
    font-size: 12px;
    border-style: none;
    cursor: pointer;
}

button p:hover {
    color: var(--softRed);
}

p.selected {
    color: black;
    font-weight: bold;
}

.answer {
    display: none;
}

hr {
    border: 1px solid var(--lightGrayishBlue);
    margin: 10px 0;
}

@media screen and (min-width: 768px) {

    main {
        max-width: 720px;  
        position: relative;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 600px;
        
        overflow: hidden;
    }

    .image {
        background-image: url('../images/illustration-woman-online-desktop.svg');
        background-size: contain;
        width: 380px;
        height: 320px;
        margin-top: 0px;
        margin-left: -100px;
    }

    .image2 {    
        background-image: url('../images/bg-pattern-desktop.svg');
        background-position: right;
        background-size: cover;
        width: 420px;
        height: 820px;
        margin-left: -450px;
        margin-top: -150px; 
    }

    .image-box {
        position: absolute;
        top: 47%;
        left: -8%;
        background-image: url('../images/illustration-box-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        height: 100px;
        width: 130px;
    }

    section h2 {
        font-size: 26px;
        text-align: left;
    }

    .box-text {
        width: 300px;
        margin-right: 40px;
    }

    .arrow {
        margin-right: 10px;
    }
   
}
